<div class="page">
	<h1>Project Description</h1>

	<p>>>> print ("RE: Falling Off The Face of The Earth")</p>

	<!--<p>RE: Falling Off The Face of The Earth</p> -->

	<p>RE: Falling Off The Face of The Earth is an investigation into how language is 

	used within our digital communications. It began with an interest in electronic arts 

	and a vision: Being able to send a text to a computer, which then prints that text 

	by controlling a completely analogue typewriter. This proved to be too technically 

	demanding given the time frame. For now a more conventional printer will be 

	used with the goal of transitioning to a typewriter in the future.</p>

	<p>This project explores the potential of a Raspberry pi microcomputer and thermal 

	printer peripherals. This website acts as a prototype to demonstrate how the 

	object works, and the results of engaging participants to communicate through 

	this forum.</p>

	<p>Text messages are used as a vessel for encouraging conversations between 

	strangers. At this point messages are collected and posted in real time at 

	FotFotE.me. Eventually the printer will be running and the messages will print 

	in as they are sent in. Information, observation, and implied narratives are the 

	outcomes of asking participants to converse in this way. Using this technology 

	we are able to observe autonomous and anonymous interaction between users.</p>

	<p>This has the potential to be a fun, novel, and uncensored form of communication. 

	To preserve anonymity, no phone numbers will be displayed.</p>

	<p>This project was made possible through The Media Arts Scholarship program 

	with the assistance of RBC Emerging Artists Project, Film and Creative Industries 

	Nova Scotia, The Canada Council for the Arts, National Film Board of Canada, 

	Nova Scotia Communities, Culture and Heritage.</p>

	<p>Text 1-581-333-9583 to contribute or visit</p>

	<p>FotFotE.me</p>

	<p>>>></p>

</div>