<div class="page">
	<h1>Input</h1>

	<p>Just text the number (1-581-333-9583), and watch the magic.</p>
	<p>But really though, FOTFOTE works using by using a webservice called Twilio that automagically updates our servers whenever you text our number. 
	   From there, we pull information from your phone number (such as the message and the location) and store it on our servers. We also take
	   advantage of websockets to update the page for you! Because refreshing pages is SO 2013.</p>


</div>